body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
  margin: 0;
  padding: 0;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1, h2 {
  color: #333;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
  margin: 5px 0;
}

button:hover {
  background-color: #0056b3;
}

input, select {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: calc(100% - 22px);
}

input[type="number"] {
  width: 100px;
}

form {
  margin-bottom: 20px;
}

.cart-list {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
  width: 80%;
}

.cart-list ul {
  list-style: none;
  padding: 0;
}

.product-list li, .cart-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.product-list li:last-child, .cart-list li:last-child {
  border-bottom: none;
}

.product-list h2, .cart-list h2 {
  margin-top: 0;
}

.filter-section {
  width: 80%;
  margin: auto;
}

.filter-buttons, .price-range {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
}

.filter-buttons {
  margin-top: 2%;
}

.filter-buttons button, .price-range input, .price-range button {
  width: 100%;
  margin: 5px;
}

.error-message {
  color: red;
  font-weight: bold;
}
