.product-list {
    background-color: #1e1e1e;
    border: 1px solid #333;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    width: 80%;
    margin: 6% auto;
    color: #fff;
}

.category-section {
    margin-bottom: 20px;
    background-color: #2e2e2e;
    padding: 15px;
    border: 1px solid #333;
    border-radius: 10px;
}

.category-title {
    color: #fff;
    margin-bottom: 10px;
    text-align: center;
}

.product-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #444;
}

.product-list ul {
    list-style: none;
    padding: 0;
}

.product-item:last-child {
    border-bottom: none;
}

.quantity-input {
    width: 60px;
    margin: 0 10px;
    padding: 5px;
    text-align: center;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

.product-actions {
    display: flex;
    gap: 10px;
}

.product-buttons {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
