.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.4rem 0;
    background-color: #333;
    color: #fff;
    width: 100%;
}

.header-logo {
    width: 6%;
    height: 10%;
}

.header h1 {
    margin: 0;
    color: white;
}

.search-input {
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    width: 50%;
}

.navigation {
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-link {
    color: #fff;
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}
