.edit-product-form {
    background-color: #1e1e1e;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #fff;
    width: 80%;
    max-width: 800px;
    margin: 6% auto;
}

.edit-product-form h2 {
    text-align: center;
    margin-bottom: 1rem;
    color: #fff;
}

.edit-product-form input,
.edit-product-form select {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #2e2e2e;
    color: #fff;
}

.edit-product-form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.edit-product-form-buttons button {
    width: 46%;
}