.cart-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #fff;
    padding: 2rem;
    width: 50%;
}

.cart {
    background-color: #1e1e1e;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #fff;
    width: 80%;
    max-width: 800px;
}

.cart h2 {
    text-align: center;
    margin-bottom: 1rem;
    color: #fff;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #333;
}

.cart-item p {
    margin: 0;
}

.cart-total {
    text-align: right;
    font-size: 1.2rem;
    font-weight: bold;
}

.cart button {
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 20%;
}

.remove-button {
    background-color: transparent;
    color: var(--button_secondary-color);
    border: 2px solid var(--button_secondary-color);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.remove-button:hover {
    background-color: var(--button_secondary-color);
    color: #1e1e1e;
}
