.footer {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    width: 100%;
    height: 46vh;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-info {
    width: 80%;
    height: 80%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-column {
    flex: 1;
    min-width: 20%;
}

.footer-column:first-child {
    margin-right: 20%;
}

.footer-column h4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.footer-column a {
    display: block;
    color: #bbb;
    text-decoration: none;
    margin-bottom: 1.4rem;
}

.footer-column a:hover {
    color: #fff;
}

.footer-logo {
    width: 40%;
    height: 50%;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 1rem;
    border-top: 1px solid #444;
    margin-top: 2rem;
}

.footer-bottom p {
    margin: 0;
}

.footer-bottom a {
    color: #fff;
    text-decoration: none;
    margin-left: 0.5rem;
}

.footer-bottom a:hover {
    text-decoration: underline;
}

.footer-socials a {
    color: #fff;
    margin-left: 0.5rem;
    font-size: 1.5rem;
}

.footer-socials a:hover {
    color: #ddd;
}
