.product-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.product-form {
    background-color: #1e1e1e;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #fff;
    width: 24vw;
}

.product-form h2 {
    text-align: center;
    margin-bottom: 1rem;
    color: #fff;
}

.product-form label {
    display: block;
    margin-bottom: 0.5rem;
    color: #fff;
}

.product-form input,
.product-form select {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

.product-form input::placeholder {
    color: #999;
}

.product-form select {
    background-color: #333;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
}

.product-form button {
    width: 48%;
}
